/*Containers for centering/layout*/
html {
  min-width: 1000px;
  min-height: 600px;
}

body {
  background: url("./images/greyWall.jpg");
  background-repeat: repeat;
  width: 100vw;
  height: 100vh;
}

#gamescreen {
  position: absolute;
  width: 1002px;
  height: 602px;
  border: 1px solid black;
  margin: 0 -50% 0 0;
  top: 50%;
  left: 50%;
  overflow: hidden;
  transform: translate(-50%, -50%)
}

#credit {
  position: absolute;
  width: 150px;
  height: 20px;
  top: 580px;
  left: 873px;
  z-index: 1;
}

#credit a{
  text-decoration: none;
  font-family: sans-serif;
  font-size: 0.7em;
  text-transform: uppercase;
  color: white;
}

#credit a:hover{
  color: blue;
}

/*Game start screen*/
#pressPlay {
  position: absolute;
  width: 342px;
  height: 40px;
  top: 500px;
  left: 100px;
  background: url("./images/pressPlay.png");
  background-repeat: no-repeat;
}

#startScreen {
  position: absolute;
  width: 600px;
  height: 600px;
  top: 10px;
  left: 250px;
  background: url("./images/startScreen.png");
  background-repeat: no-repeat;
}

/*Score screen when character dies*/
#scoreScreen {
  position: absolute;
  width: 600px;
  height: 400px;
  top: 100px;
  left: 250px;
  background: url("./images/scoreScreen.png");
  background-repeat: no-repeat;
  z-index: 1;
}

#loserText {
  position: absolute;
  width: 538px;
  height: 45px;
  top: 25px;
  left: -500px;
}

#playerScore {
  position: absolute;
  width: 196px;
  height: 39px;
  top: 100px;
  left: 30px;
  background: url("./images/playerScore.png");
  background-repeat: no-repeat;
}

#bestScore {
  position: absolute;
  width: 196px;
  height: 40px;
  top: 160px;
  left: 30px;
  background: url("./images/bestScore.png");
  background-repeat: no-repeat;
}

@font-face {
    font-family: eightBit;
    src: url(PressStart2P.ttf);
}
.scoreText {
  font-family: eightBit;
  font-size: 2.5em;
  margin: 0 0 0 230px;
  color: blue;
}

#restartBtn {
  position: absolute;
  width: 168px;
  height: 90px;
  top: 280px;
  left: 35px;
  background: url("./images/playBtnDownSml.png");
  background-repeat: no-repeat;
}

#restartBtn:hover {
  background: url("./images/playBtnUpSml.png");
  background-repeat: no-repeat;
}

#restartBtn:active {
  background: url("./images/playBtnDownSml.png");
  background-repeat: no-repeat;
}

#trump {
  position: absolute;
  width: 400px;
  height: 327px;
  top: 175px;
  left: 1000px;
  background: url("./images/trumpScore.png");
  background-repeat: no-repeat;
}

/*Game background*/
#background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -50px;
  background: url("./images/bgLg.png");
  background-repeat: repeat-x;
  -webkit-animation: backgroundScroll 100s linear infinite;
  animation: backgroundScroll 100s linear infinite;
  -webkit-animation-play-state: running;
  animation-play-state: running;
}

@-webkit-keyframes backgroundScroll {
from {background-position: 0 0;}
to {background-position: -800px 0;}
}

@keyframes backgroundScroll {
from {background-position: 0 0;}
to {background-position: -800px 0;}
}

/*Game foreground*/
#ground {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 480px;
  background: url("./images/desertSml.png");
  background-repeat: repeat-x;
  -webkit-animation: groundScroll 1s linear infinite;
  animation: groundScroll 1s linear infinite;
  -webkit-animation-play-state: running;
  animation-play-state: running;
}

@-webkit-keyframes groundScroll {
from {background-position: 0 0;}
to {background-position: -64px 0;}
}

@keyframes groundScroll {
from {background-position: 0 0;}
to {background-position: -64px 0;}
}


/*USA this way arrow animation*/
#usa {
  position: absolute;
  width: 247px;
  height: 72px;
  top: 300px;
  background: url("./images/usa.png");
  background-repeat: no-repeat;
  z-index: 1;
}

/*Container for character and for blocks to generate into*/
#innerContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}


/*Character*/
#character {
  position: relative;
  display: inline-block;
  background: url("./images/mexicanL.png");
  background-repeat: no-repeat;
  background-position: -170px -168px;
  width: 63px;
  height: 56px;
}


/*Blocks*/
.blockTop {
  position: absolute;
  background: url("./images/sandBricks.png");
  background-repeat: repeat;
  padding-top: 0;
  top: 0;
  width: 80px;
}

.blockBottom {
  position: absolute;
  background: url("./images/sandBricks.png");
  background-repeat: repeat;
  padding-top: 0;
  /*top: 500px;*/
  bottom: 0;
  width: 80px;
}
