/*Containers for centering/layout*/
body {
  width: 100vw;
  height: 100vh;
}

#gamescreen {
  position: absolute;
  width: 1002px;
  height: 602px;
  border: 1px solid black;
  margin: 0 -50% 0 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

#background {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("./images/bgLg.png");
  background-repeat: repeat-x;
}

#ground {}

#innerContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}


/*Character*/

#character {
  position: relative;
  display: inline-block;
  background: url("./images/Mexican.png");
  background-repeat: no-repeat;
  background-position: -170px -159px;
  width: 69px;
  height: 72px;
}


/*Blocks*/

.blockTop {
  position: absolute;
  background: url("./images/sandBricks.png");
  background-repeat: repeat;
  padding-top: 0;
  top: 0;
  width: 80px;
  height: 228px;
}

.blockBottom {
  position: absolute;
  background: url("./images/sandBricks.png");
  background-repeat: repeat;
  padding-top: 0;
  top: 372px;
  width: 80px;
  height: 228px;
}
